# =======================================================
# MariaDB Database Configuration & Credentials (Template)
# =======================================================
MARIADB_CONTAINER_NAME=mariadb_container
MARIADB_ROOT_PASSWORD=your_root_password_here

# Initial Default Database & User
MARIADB_DEFAULT_DATABASE=db1
MARIADB_DEFAULT_USER=your_default_user
MARIADB_DEFAULT_PASSWORD=your_default_password
