# =======================================================
# MariaDB Database Configuration & Credentials (.env.example)
# =======================================================
MARIADB_CONTAINER_NAME=mariadb_container
MARIADB_ROOT_PASSWORD=your_root_password_here

# Initial Default Database & User
MARIADB_DATABASE=db1
MARIADB_USER=default_user
MARIADB_PASSWORD=default_password
